* {
    box-sizing: border-box;
}
  
html {
    font-size: 16px;
}

body {
    background: rgb(78,173,143);
    background: linear-gradient(102deg, rgba(78,173,143,1) 0%, rgba(72,68,152,1) 89%, rgba(81,46,148,1) 100%);
}

h1{
font-family: Serif;
font- weight: bold;
font -size: 2em;
text-align: center;
} 

#card {
    background-color: #e0dedf;
    border: 10px solid #e0dedf;
    width: 70%;
    height: 80vh;
    margin: 3em auto;
    box-shadow: 10px 10px 20px 2px rgba(0,0,1,0.5);
    border-radius: 20px;
}

.circle {
        background-color:#e0dedf;
        border:5px solid rgba(78,173,143,1);   
        box-shadow: 10px 10px 100px 2px rgba(0,0,1,0.5); 
        height: 13.5em;
        border-radius:50%;
        width: 13.5em;
        margin: 0.5em auto;
}


#timer-display{
    font-family: sans-serif;
    font-size: 2.1em;
    margin: 40% auto;
    font-weight: 400;
    text-align: center;
}


#lap-wrapper{
    height: 8em;
    overflow-y: scroll;
}


#laplist{
    text-align: end;
    padding: 0;
   font-size: 1.5em;
   
}

ol li{
padding: 5px;
margin-left: 35px;
border-bottom: 1px solid rgba(78,173,143,1);
}


.button{
    position: relative;
    top: 70px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

button{
    outline: none;
    border: 1px solid rgba(72,68,152,1);
    background-color: #e0dedf;
    border-radius: 10px 10px;
    cursor: pointer;
}

#start, #stop{
    color: #ffffff;
    border: 1px solid rgba(72,68,152,1);
    background-color: rgba(72,68,152,1);
    padding: 1em 10em;
    border-radius: 10px 10px;
}

#reset, #lap {
    padding: 1em 5em;
}

#reset, #lap {
    visibility: hidden;
    color: rgba(72,68,152,1);
}

#start, #reset:hover, #lap:hover {
    background-color: rgba(81,46,148,1);
    color: #ffffff;
}

i {
    color: #ffffff;
    margin-left: 10px;
}

#share-button {
    width: 15%;
    margin: -20px auto;
    text-align: center;
    font-size: 3vw;
    color: #e0dedf;
    cursor: pointer;
}

#share-button > i {
    color: #e0dedf;
}

@media only screen and (max-width: 1100px){
    html{
        font-size: 11px;
    }

    #timer-display{
        font-size: 2em;
    }

    #start, #stop {
        padding: 1em 5em;
    }

    #reset, #lap {
        padding: 1em 3em;
        margin: 0 0.5em;
    }
}

@media only screen and (max-width: 800px){
    button{
        border-radius: 50%;
        justify-content: space-between;
    }
    #start, #stop {
        padding: 1em 3em;
    }

    #reset, #lap {
        padding: 1em 1em;
    }
}

@media only screen and (max-width: 500px) {
    #reset, #lap, #start {
        padding: 1em 1em;            
    }

    #reset, #lap, #start, #stop {
        padding: 1em 1em;
    }
}

